{% extends 'base.html' %}

{% block title %}Mini-Eclass | Home{% endblock %}

{%load static %}
{%load check_if_enrolled%}


{% load crispy_forms_tags %}

{%block sidebar%}

{%if user.is_authenticated%}
<ul>
  <a href="/"> <img src="{% static 'classes/logo_new_transparent.ico' %}" class="rounded mx-auto d-block" ></a>
  <li><a href="/" class=""><i class="fa fas fa-home"></i>Home</a></li>
  
  
  {% if request.user|enrolled:class or request.user.is_staff %}
  <li><a href="{% url 'classes:files' class.id %}"><i class="fa fas fa-solid fa-folder-open"></i>Files</a></li>
  <li class="notification2"><a href="#"><i class="fa far fa-envelope"></i>Messages</a><span
    class="number2">{{announcements | length}}</span></li>
  </li>
  <li><a href="{% url 'classes:quizes' class.id %}"><i class="fa fas fa-pencil-square-o fa-fw"></i>Quizes</a></li>
  <li class="notification2"><a href="{% url 'classes:livechat' class.id %}"><i class="fa far fa-comments-o"></i>Chat</a></li>
  <li><a href="#"><i class="fa fas fa-signal"></i>Statistics</a></li>
  
  </li>
  {%endif%}
  {% if request.user in class.professors.all and request.user.is_staff%}
      <hr>
      <li><a href="{% url 'classes:quiz_create' class.id %}"><i class="fa fas fa-pencil-square-o fa-fw"></i>Add quiz</a></li>
      <li><a href="{% url 'classes:file_upload' class.id %}"><i class="fa fas fa-upload fa-fw"></i>Upload File</a></li>
      <li><a href="{% url 'classes:newAnnouncement' class.id %}"><i class="fa fa-plus  fa-fw "></i>New Announcement</a></li>
  {%endif%}
</ul>

<div class="userProfile"> <a href="#"><i class="fa far fa-user-circle xyz"></i></a>
  <p class="username">{{user}}<br><a href="#">View Profile</a></p> <a href="#"><i class=" fa fas fa-cog mnp"></i></a>
</div>
{%else%}
<ul>
  <a href="/"> <img src="{% static 'classes/logo_new_transparent.ico' %}"
      class="img-fluid rounded mx-auto d-block"></a>
  <li><a href="/" class=""><i class="fa fas fa-home"></i>Home</a></li>
  <li><a href="{% url 'login' %}"><i class="fa fas fa-sign-in"></i>Login</a></li>
  <li class="notification2"><a href="{% url 'registration:register' %}"><i class="fa fas fa-user-plus"></i>Register</a>
  </li>
  </li>

</ul>
{%endif%}
{%endblock%}

{%block body%}
<h2>Uploading files to {{class.courseName}}</h2>
<form action="{% url 'classes:file_upload' class.id %}" enctype="multipart/form-data" method="POST" id="quiz">
    {% csrf_token %}
    {{fileForm | crispy}}
    <input type="submit" value="Submit">
</form>
{%endblock%}