{% extends "header.html" %}
{% block title %}Mini-Eclass | {{course.courseName}} | Users {% endblock %}
{% block content %}

{% load crispy_forms_tags %}
{% load group_filtering %}
{%load check_if_enrolled%}

{% load static %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
  
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script>
    
    $(document).ready(function () {
  $('#dtBasicExample').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
</script>
<link rel="stylesheet" type="text/css" href="{% static 'classes/style.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">
    <div class="col-sm-2">
        <div class="wrapper d-flex">
            <div class="sidebar">
              <ul>
                <a href="/"> <img src="{% static 'classes/logo_new_transparent.ico' %}" class="rounded mx-auto d-block" ></a>
                <li><a href="/" class=""><i class="fa fas fa-home"></i>Home</a></li>
                {% if request.user|enrolled:course or request.user.is_staff%}
                <li><a href="{% url 'classes:files' course.id %}"><i class="fa fas fa-solid fa-folder-open"></i>Files</a></li>
                <li class="notification2"><a href="#"><i class="fa far fa-envelope"></i>Messages</a><span
                  class="number2">{{announcements | length}}</span></li>
                </li>
                <li><a href="{% url 'classes:quizes' course.id %}"><i class="fa fas fa-pencil-square-o fa-fw"></i>Quizes</a></li>
                <li class="notification2"><a href="{% url 'classes:livechat' course.id %}"><i class="fa far fa-comments-o"></i>Chat</a></li>
                <li><a href="#"><i class="fa fas fa-signal"></i>Statistics</a></li>
                
                </li>
                {%endif%}
                {% if request.user in course.professors.all and request.user.is_staff%}
                <hr>
                <li><a href="{% url 'classes:quiz_create' course.id %}"><i class="fa fas fa-pencil-square-o fa-fw"></i>Add quiz</a></li>
                <li><a href="{% url 'classes:file_upload' course.id %}"><i class="fa fas fa-upload fa-fw"></i>Upload File</a></li>
                <li><a href="{% url 'classes:newAnnouncement' course.id %}"><i class="fa fa-plus  fa-fw "></i>New Announcement</a></li>
                {%endif%}
            </ul>
                
                <div class="userProfile"> <a href="#"><i class="fa far fa-user-circle xyz"></i></a>
                    <p class="username">{{user}}<br><a href="#">View Profile</a></p> <a href="#"><i
                            class=" fa fas fa-cog mnp"></i></a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-9">
        <a href="{% url 'classes:detail' course.id %}"><h2>{{course.courseName}}</h2></a>
        <h5>Users</h5>
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="th-sm">First Name
          
                </th>
                <th class="th-sm">Last Name
          
                </th>
                <th class="th-sm">Position
                </th>
              </tr>
            </thead>
            <tbody>
                {%for person in course.enrolledPeople.all %}
                
                
              <tr>
                <td>{{person.first_name}}</td>
                <td>{{person.last_name}}</td>
                {% if person.is_staff %} 
                <td>Professor</td>
                {%else%}
                <td>Student</td>
                {%endif%}
              </tr>
              {%endfor%}
            </tbody>
            <tfoot>
              <tr>
                <th>First Name
                </th>
                <th>Last Name
                </th>
                <th>Position
                </th>
                
              </tr>
            </tfoot>
          </table>
    </div>



    {%endblock%}